<template name="configureLoginServiceDialogForGumroad">
  <p>
    First, you'll need to register your app on Gumroad. Follow these steps:
  </p>
  <ol>
    <li>
      Visit <a href="https://gumroad.com/settings/developer" target="blank">https://gumroad.com/settings/developer</a>
    </li>
  </ol>
</template>
