<template name="layout">
<body>
    	{{> navBar}}
        <!-- main content: -->
        <div class="container mainContainer">
             {{> yield}}
        </div><!-- end container -->
</body>
</template>

<template name="EntrySignOut"></template> <!-- eliminate sign-out error -->

<template name="navBar">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fa fa-shopping-cart"></i> GumroadProducts</a>
            </div>
            <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="{{activeRouteClass 'home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
                <li class="{{activeRouteClass 'about'}}"><a href="{{pathFor 'about'}}">About</a></li>
                {{#if currentUser}}
                    {{> adminDropdown}}
                {{/if}}
              </ul><!-- end nav -->

			  <ul class="nav navbar-nav navbar-right">
                    {{> accountButtons}}
                  </ul>
            </div><!-- end nav-collapse -->
          </div><!-- end container -->
        </div><!-- end navbar -->
</template>

<template name="adminDropdown">
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{pathFor 'productAdmin'}}">Products</a></li>
        </ul>
    </li><!-- end dropdown -->
</template>
