<template name="about">
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron">
			                <h1>About</h1>
			                <p>Lorem ipsum dolor sit</p>
			                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
			              </div>
		</div>
	</div>
</template>
