<template name="home">
    <div class="jumbotron">
      <h1>Gumroad Product Interface</h1>
      <p>View and download your Gumroad products.</p>
      {{#if currentUser}}
        <p><a href="{{pathFor 'productAdmin'}}" class="btn btn-primary btn-lg" role="button">Go to Products</a></p>
      {{else}}
      <p><a href="{{pathFor 'entrySignIn'}}" class="btn btn-primary btn-lg" role="button">Sign In</a></p>
      {{/if}}
    </div>
</template>

