<head>
    <title>Gumroad-Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<template name="productAdmin">
    {{> products}}
</template>

<template name="products">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Gumroad API</div>
                <div class="panel-body">
                    <p>Refresh the product list by querying the Gumroad servers, or download product listings in a file that can be imported to a spreadsheet program.</p>
                    <button class="getProducts btn btn-primary"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Retrieve Products</button>
                    <a href="{{pathFor 'download'}}" class="getProducts btn btn-primary"><i class="fa fa-download"></i>&nbsp;&nbsp;Download CSV</a>
                </div>
            </div><!-- end panel -->
        </div><!-- end col -->
    </div><!-- end row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Products</div>
                <div class="panel-body">
                    {{#if productFetchInProgress}}
                      <p>Retrieving products from Gumroad...</p>
                      {{> spinner}}
                    {{else}}
                      <p>Current Gumroad products</p>
                      {{> tabular table=TabularTables.Products class="table table-striped table-bordered table-condensed"}}
                    {{/if}}
                </div>
            </div><!-- end products panel -->
        </div><!-- end col -->
    </div><!-- end row -->
</template>
